# Sunday, March 29 Practice Session

In [ ]:
# This link seems to have an example of how to take nested dict and turn into dataframe
### https://www.geeksforgeeks.org/python-convert-list-of-nested-dictionary-into-pandas-dataframe/?ref=rp

In [18]:
import numpy as np
import pandas as pd

In [ ]:
nested_dict= "Weight": {"Harry John": 176, "Jeremy": 176}

In [27]:
# create a dictionary and count types of objects
prac_dict = {"Name": ["Jeremy", "Harry John"], 
             "Temperature": 96.0, 
             "Location": "New York", 
             "Age": 29, 
             "Height": 183,
            'url' : ['http://unitas.org', 'http://unitas.int'],
            "weight":{"J":176,"H":170}}
print(prac_dict)

{'Name': ['Jeremy', 'Harry John'], 'Temperature': 96.0, 'Location': 'New York', 'Age': 29, 'Height': 183, 'url': ['http://unitas.org', 'http://unitas.int'], 'weight': {'J': 176, 'H': 170}}

In [28]:
my_pracdf = pd.DataFrame(prac_dict)
my_pracdf

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [25]:
user_dict = {12: {'Category 1': {'att_1': 1, 'att_2': 'whatever'},
                  'Category 2': {'att_1': 23, 'att_2': 'another'}},
             15: {'Category 1': {'att_1': 10, 'att_2': 'foo'},
                  'Category 2': {'att_1': 30, 'att_2': 'bar'}}}

pd.DataFrame.from_dict({(i,j): user_dict[i][j] 
                           for i in user_dict.keys() 
                           for j in user_dict[i].keys()},
                       orient='index')

               att_1     att_2
12 Category 1      1  whatever
   Category 2     23   another
15 Category 1     10       foo
   Category 2     30       bar

In [26]:
user_dict = {12: {'Category 1': {'att_1': 1, 'att_2': 'whatever'},
                  'Category 2': {'att_1': 23, 'att_2': 'another'}},
             15: {'Category 1': {'att_1': 10, 'att_2': 'foo'},
                  'Category 2': {'att_1': 30, 'att_2': 'bar'}}}

pd.DataFrame.from_dict({(i,j): user_dict[i][j] 
                           for i in user_dict.keys() 
                           for j in user_dict[i].keys()})

              12                    15
      Category 1 Category 2 Category 1 Category 2
att_1          1         23         10         30
att_2   whatever    another        foo        bar

In [29]:
pd.DataFrame(user_dict)

                                           12                             15
Category 1  {'att_1': 1, 'att_2': 'whatever'}  {'att_1': 10, 'att_2': 'foo'}
Category 2  {'att_1': 23, 'att_2': 'another'}  {'att_1': 30, 'att_2': 'bar'}

In [22]:
user_dict.values()

dict_values([{'Category 1': {'att_1': 1, 'att_2': 'whatever'}, 'Category 2': {'att_1': 23, 'att_2': 'another'}}, {'Category 1': {'att_1': 10, 'att_2': 'foo'}, 'Category 2': {'att_1': 30, 'att_2': 'bar'}}])

In [23]:
user_dict.keys()

dict_keys([12, 15])